.header {
  display: flex;
  align-items: center;
  min-height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 20px;
  box-sizing: border-box;
  color: #FFFFFF;
}

.header-logo {
  margin-right: 7px;
}

.header-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  letter-spacing: -0.1em;
}

.header-subtitle {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}




