body {
  margin: 0;
  padding: 0;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #0D0D0D;

  display: grid;
  place-items: center;
}

.container {
  width: 550px;
}



